.view-submissions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    font-family: var(--form-font-family);
    padding-bottom: 2rem;
}

.response-table-container,
.response-accordion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: var(--form-font-family);
}

.response-accordion-que {
    font-weight: 500;
    font-style: italic;
}

.download-response-button {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}